<template>
  <div class="has-background-light">
    <QuizSummery :awnser="questions.awnsers" />
    <div
      class="columns"
      v-for="item in this.zip(this.questions.questions, this.questions.awnsers,this.questions.awnserText)"
      :key="item.question.question"
    >
      <div class="column has-background-light is-two-thirds">
        <Question :question="item.question" :interactive="false"></Question>
      </div>

      <div class="column content has-background-light " >
        <h4>Your awnser:</h4>
        <p>{{item.awnserText}}</p>
        <h4>Correct awnser:</h4>
        <p>{{item.question.correct_answer}}</p>
      </div>

      <div class="column content has-background-light">
        <h3>Score:{{(item.awnser? 10:0)}}</h3>
      </div>
    </div>
  </div>
</template>

<script>
import Question from "./Question";
import QuizSummery from "./QuizSummery";
export default {
  name: "EndScreen",
  props: {
    questions: Object,
    all: [],
  },
  components: {
    Question,
    QuizSummery,
  },
  methods: {
    zip(arr1, arr2, arr3) {
      return arr1.map((k, i) => ({
        question: k,
        awnser: arr2[i],
        awnserText: arr3[i],
      }));
    },
  },
  created() {
    if (this.questions.questions.length == 0) this.$router.push("/");
  },
};
</script>

<style>
</style>