
<template>
  <router-view
    :questions="questions"
    :question="questions.questions[questions.current]"
    @next="nextQuestion"
    @test="onGetQuestions"
  />
</template>

<script>
export default {
  name: "MainContent",
  data: function () {
    return {
      questions: { current: 0, questions: [], awnsers: [],awnserText:[] },
    };
  },
  methods: {
    onGetQuestions(questions) {
      this.questions.questions = questions;
      this.questions.current=0
      this.questions.awnsers=[]
      this.questions.awnserText=[]
    },
    nextQuestion(awnser) {
      if (this.questions.current == this.questions.questions.length - 1) 
        this.$router.push("endscreen");
        this.questions.awnserText.push(awnser)
        this.questions.awnsers.push(
          awnser ==
            this.questions.questions[this.questions.current].correct_answer
        );
        this.questions.current++;
     
    },
  },
};
</script>