
<template>
  <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand container">
      <router-link class="navbar-item" to="/">
        <font-awesome-icon icon="home" />
        Home
      </router-link>

      <!-- <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a> -->
    </div>
  </nav>
</template>

<script>
export default { name: "Navbar" };
</script>