
<template>
  <div class="content">
    <div class=" has-background-light">
      <h1>Question --- {{question.category}} ({{question.difficulty}})</h1>
      <h3>{{question.question}}</h3>

      <div v-if="interactive">
        <div v-for="item in allQuestions" :key="item" :value="item">
          <input type="radio" name="awnser" :value="item" v-model="awnser" />
          <label :for="item">{{item}}</label>
        </div>
      </div>
      <button class="button" v-if="interactive" v-on:click="handleClick()" :disabled="awnser==-1">next</button>
    </div>
  </div>
</template>

<script>
export default {
  name: "question",
  props: {
    question: {
      required: true,
    },
    count: {
      type: Number,
      default: 1,
    },
    interactive: {
      type: Boolean,
      default: true,
    },
  },
  data: function () {
    return {
      allQuestions: [],
      awnser: -1,
    };
  },
  methods: {
    handleClick() {
      this.$emit("next", this.awnser);
      this.awnser = -1;
    },
    parseData() {
      this.allQuestions = this.question.incorrect_answers;
      this.allQuestions.push(this.question.correct_answer);
    },
  },
  created() {
    if (this.question == undefined) this.$router.push("/");
    this.parseData();
  },
  watch: {
    question: function () {
      this.parseData();
    },
  },
};
</script>