<template>
  <div class="content">
    <div class="panel has-background-light has-text-centered">
      <h1>Good Job!!</h1>
      <h2 class="content ">You got {{score}} points out of {{awnser.length*10}}</h2>
    </div>
  </div>
</template>

<script>
export default {
  name: "QuizSummery",
  props: {
    awnser: {
      default() {
        return [];
      },
    },
  },
  data: function () {
    return {
      score: 0,
    };
  },
  created() {
    this.score = this.awnser.filter((e) => e).length * 10;
  },
};
</script>

<style>
</style>