<template>
  <div class="container">
    <div class="card">
      <form v-on:submit.prevent="">
        <div class="field">
          <div class="control">
            <label class="label">Category</label>
            <div class="select">
              <select class="select" v-model="category">
                <option v-for="item in categorys" :key="item.id" :value="item.id">{{item.name}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="field">
          <label class="label">Difficulty</label>
          <label class="radio">
            <input class="radio" type="radio" id="easy" v-model="difficulty" value="easy" />
            Easy
          </label>
          <label class="radio">
            <input class="radio" type="radio" id="medium" v-model="difficulty" value="medium" />
            Medium
          </label>
          <label class="radio">
            <input class="radio" type="radio" id="hard" v-model="difficulty" value="hard" />
            Hard
          </label>
          <label class="radio">
            <input class="radio" type="radio" id="any" v-model="difficulty" value="any" />
            Any
          </label>
        </div>
        <div class="field">
          <label class="label">Type</label>
          <label class="radio">
            <input type="radio" id="both" value="both" v-model="type" />
            Both
          </label>
          <label class="radio">
            <input type="radio" id="multiple" value="multiple" v-model="type" />
            Multiple choise
          </label>
          <label class="radio">
            <input type="radio" id="boolean" value="boolean" v-model="type" />
            True/False
          </label>
        </div>
        <div class="field">
          <div class="control">
            <label class="label">Number of question</label>
            <input class="input input-radius" type="number" v-model="numQuestions" />
          </div>
        </div>
        <div class="field">
          <label class="label">Press button to start playing</label>
          <button class="button is-info" v-on:click="start">Start</button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
export default {
  name: "StartMenu",
  data: function () {
    return {
      categorys: [],
      questions: [],
      difficulty: "easy",
      numQuestions: "10",
      category: undefined,
      type: "both",
    };
  },
  created() {
    fetch("https://opentdb.com/api_category.php")
      .then((response) => response.json())
      .then(
        (data) =>
          (this.categorys = [{ name: "Any category" }].concat(
            data.trivia_categories
          ))
      );
  },
  methods: {
    getApiUrl() {
      let url = "https://opentdb.com/api.php?";
      url += "amount=" + this.numQuestions;
      if (this.difficulty != "any") url += "&difficulty=" + this.difficulty;
      if (this.type != "both") url += "&type=" + this.type;
      if (this.category != undefined) url += "&category=" + this.category;
      url += "&encode=base64";
      return url;
    },
    async start() {
      await fetch(this.getApiUrl())
        .then((response) => response.json())
        .then((dataa) => {
          return dataa.results.map((data) => {
            return {
              category: atob(data.category),
              type: atob(data.type),
              difficulty: atob(data.difficulty),
              question: atob(data.question),
              correct_answer: atob(data.correct_answer),
              incorrect_answers: data.incorrect_answers.map((q) => atob(q)),
            };
          });
        })
        .then((data) => {
          this.questions = data;
        });
      this.$emit("test", this.questions);
      this.$router.push({ path: "/question" });
    },
  },
};
</script>