<template>
  <div id="app">
    <Navbar />
    <MainContent class="container"/>
  </div>
</template>



<script>
import Navbar from "./components/Navbar";
import MainContent from "./components/MainContent";

export default {
  name: "App",
  components: {
    Navbar,
    MainContent,
  },
};
</script>